* {
    border-style: none;
    color: black;
    flex: none;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
div {
    background-color: transparent;
}
div * {
    background-color: transparent;
}
button {
    display: flex;
}
button * {
    text-align: start;
}
button:hover {
    cursor: pointer;
}
html {
    zoom: 1.0;
}